/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --purple-color: #3f51b5;
  --grey-color: #707070;
  --body-color: #f1f5f9;
  --box-color: white;
  --white-color: white;
  --black-color: black;
  --icon-color: #e5e5e5;
  --shadow-color: #ddd;
  --purple-alt-color: #f1f5f9;
  --title-color: #00eeff;
  --exam-color: var(--icon-color);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
}
body {
  margin: 0;
  background-color: var(--body-color);
}
body.dark-theme {
  --grey-color: #bcbac4;
  --body-color: #131417;
  --box-color: #1e1f26;
  --white-color: black;
  --black-color: white;
  --icon-color: #939393;
  --shadow-color: rgb(0 0 0 / 50%);
  --purple-alt-color: #3f51b5;
  --title-color: white;
  --exam-color: rgba(255, 255, 255, 0.07);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  padding: 10px 15px;
  margin-top: 64px;
}
.title {
  border: none;
  position: relative;
  color: white;
  background-color: var(--purple-color);
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 0.1em;
  transition-delay: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 150px;
  height: 40px;
  font-size: 19px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}
.title:hover {
  color: var(--title-color) !important;
  letter-spacing: 0.25em;
  text-shadow: 0 0 5px var(--title-color);
  transition-delay: 1ms;
}
.title span {
  position: absolute;
  display: block;
  background-color: var(--title-color);
  box-shadow: 0 0 5px var(--title-color);
}
.title span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
}
.title:hover span:nth-child(1) {
  transform: scaleX(1);
}
.title span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: left;
}
.title:hover span:nth-child(2) {
  transform: scaleX(1);
}
.title span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  transition-delay: 0.4s;
  transform-origin: top;
}
.title:hover span:nth-child(3) {
  transform: scaleY(1);
}
.title span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  transition-delay: 0.4s;
  transform-origin: top;
}
.title:hover span:nth-child(4) {
  transform: scaleY(1);
}
.title span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.8s;
  transform-origin: left;
}
.title:hover span:nth-child(5) {
  transform: scaleX(1);
}
.title span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.8s;
  transform-origin: right;
}
.title:hover span:nth-child(6) {
  transform: scaleX(1);
}
/* End Global Rules */
/* Start Sidebar */
.content {
  margin-left: 80px;
  transition: 0.5s;
  display: flex;
}
.ml-250 {
  margin-left: 250px;
}
.head {
  background-color: var(--box-color);
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 98;
  height: 64px;
}
.head i {
  font-size: 18px;
  cursor: pointer;
  color: var(--black-color);
  margin-right: 15px;
}
.sidebar {
  width: 250px;
  opacity: 1;
  z-index: 99;
  position: fixed;
  height: 100%;
  padding: 10px 14px;
  transition: 0.5s;
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: var(--box-color);
}
.sidebar header {
  position: relative;
  display: flex;
  margin-left: 5px;
}
.sidebar .image-text .image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}
.sidebar.close .image-text .image img {
  margin: 0;
}
.sidebar.close .image-text .imgss {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: auto;
}
.sidebar .image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sidebar.close header .toggle {
  transform: translateY(-50%);
}
.header-text .name {
  font-weight: bold;
  color: var(--grey-color);
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--purple-color);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar .menu {
  margin-top: 7px;
}
.sidebar li {
  margin-top: 10px;
}
.sidebar li .icon {
  min-width: 100%;
  font-size: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal !important;
}
.w-44 {
  min-width: 44px !important;
}
.sidebar li .icon,
.sidebar li .text {
  font-weight: bold;
  color: var(--grey-color);
  font-size: 17px;
  letter-spacing: 1px;
}
.sidebar li a {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: 0.4s;
}
.sidebar li a.active {
  background-color: var(--purple-color);
}
.sidebar li a.active i,
.sidebar li a:hover i,
.sidebar li a.active span,
.sidebar li a:hover span {
  color: white;
}
.sidebar li a:hover {
  background-color: var(--purple-color);
}
.sidebar .menu-bar {
  height: calc(100% - 50px) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i {
  position: absolute;
}
.sidebar.close {
  width: 80px;
}
.sidebar.close .text {
  opacity: 0;
  display: none;
}
@media (max-width: 775px) {
  .sidebar {
    width: 80px !important;
  }
  .w-44 {
    min-width: 100% !important;
  }
  .sidebar li .text,
  .header-text .name {
    display: none;
  }
  .sidebar .image-text {
    gap: 0;
  }
  .sidebar.close header .toggle {
    display: none;
  }
}
.sub-menu-wrap {
  position: absolute;
  top: 89%;
  right: 2%;
  width: 320px;
  z-index: 99;
  max-height: 0px;
  overflow: hidden;
  border-radius: 6px;
  transition: max-height 0.5s;
  box-shadow: var(--shadow-color) 0px 0px 10px;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background-color: var(--box-color);
  padding: 15px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h2 {
  font-weight: 600;
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
}
.user-info .img-p {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr {
  border: 0;
  height: 2px;
  width: 100%;
  margin: 15 0 10px;
  background-color: #ccc;
}
.page .my-stl {
  margin: 20px 20px 40px;
  width: 121px;
  overflow: hidden;
  white-space: nowrap;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  color: black;
  margin: 7px 0;
}
.sub-menu-link p {
  flex-grow: 1;
  transition: 0.3s;
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
}
.sub-menu-link p:hover {
  color: var(--purple-color);
}
.sub-menu-link i {
  width: 25px;
  height: 25px;
  background-color: var(--icon-color);
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu-link span {
  font-size: 20px;
  color: var(--black-color);
  transition: 0.3s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
@media (max-width: 440px) {
  .sub-menu-wrap {
    width: 291px;
  }
  .sub-menu-wrap.open-menu {
    max-height: 349px;
  }
  .user-info h2 {
    font-size: 20px;
  }
}
@media (max-width: 387px) {
  .sub-menu-wrap {
    width: 258px;
  }
  .sub-menu-wrap.open-menu {
    max-height: 324px;
  }
  .user-info h2 {
    font-size: 17px;
  }
}
/* End Sidebar */
/* Start Main Page */
.main-page {
  width: 100%;
}
@media (max-width: 800px) {
  .main-page h1 {
    text-align: center;
    line-height: 2;
  }
}
.main-page h1 {
  border-right: 2px solid var(--black-color);
  overflow: hidden;
  white-space: nowrap;
  animation: control-width 3s 1s steps(10) infinite both, blink 0.5s 1s infinite;
  color: var(--black-color);
  text-align: right;
  font-size: 27px;
  margin-bottom: 22px;
}
.main-page .dec {
  color: var(--black-color);
  margin-bottom: 34px;
  line-height: 2;
  width: fit-content;
  text-align: center;
}
@keyframes control-width {
  0% {
    width: 0;
  }
  50% {
    width: 124px;
  }
  100% {
    width: 0;
  }
}
.main-page h2 {
  color: var(--black-color);
  text-align: center;
  font-size: 30px;
  background-color: var(--box-color);
  padding: 14px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.up {
  position: fixed;
  z-index: 99;
  right: -50px;
  bottom: 20px;
  background-color: var(--purple-color);
  padding: 8px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}
.up.show {
  right: 20px;
}
/* End Main Page */
/* Start Learn Web */
.learn-web {
  display: flex;
  gap: 25px;
  align-items: center;
}
.learn-web img {
  width: 38%;
  border-radius: 8px;
  height: fit-content;
}
.learn-web .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learn-web .info p {
  color: var(--black-color);
  line-height: 2;
  margin: 0 0 30px 0;
  font-size: 21px;
  text-align: center;
}
.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: var(--purple-color);
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  padding: 12px 18px;
  transition: 0.2s transform ease-in-out;
  position: relative;
  z-index: 0;
}
.coolBeans::after {
  background-color: var(--purple-color);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}
@media (max-width: 1253px) {
  .learn-web .info p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .coolBeans {
    padding: 10px 16px;
    font-size: 21px;
  }
}
@media (max-width: 1100px) {
  .learn-web {
    flex-direction: column;
  }
}
@media (max-width: 920px) {
  .learn-web img {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .learn-web img {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .main-page h2 {
    font-size: 22px;
  }
}
@media (max-width: 454px) {
  .main-page h2 {
    font-size: 18px;
  }
}
@media (max-width: 374px) {
  .learn-web .info p {
    font-size: 16px;
  }
}
@media (max-width: 396px) {
  .main-page h2 {
    font-size: 16px;
  }
}
/* End Learn Web */
/* Start Choose Html */
.choose {
  width: 60%;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}
.choose .choose-img {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.choose .choose-img img {
  max-width: 250px;
  margin: auto;
}
.choose .choose-img p {
  width: fit-content;
  color: var(--black-color);
  font-size: 18px;
}
.choose .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 22px;
}
.choose .info a {
  padding: 10px 12px;
  color: #f15931;
  border-radius: 3rem;
  text-align: center;
}
.choose .info a.coolBeans::after {
  background-color: #f15931;
}
.choose .info a.coolBeans:hover {
  color: white;
  border-color: transparent;
}
@media (max-width: 1100px) {
  .choose .choose-img img {
    max-width: 180px;
  }
  .choose .info a {
    font-size: 18px;
  }
}
@media (max-width: 930px) {
  .choose {
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: 70%;
  }
  .choose .info {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    gap: 20px;
    width: 80%;
  }
}
@media (max-width: 669px) {
  .choose {
    width: 100%;
  }
  .choose .info {
    width: 90%;
  }
}
@media (max-width: 580px) {
  .choose .choose-img img {
    max-width: 140px;
  }
}
@media (max-width: 568px) {
  .choose .info {
    grid-template-columns: 50% 50%;
  }
}
.choose.css .info a {
  color: #007dc6;
}
.choose.css .info a.coolBeans::after {
  background-color: #007dc6;
}
/* End Choose Html */
